doctype
html(lang="ru")
    head
        meta(charset="utf-8")
        title= "Главная страница"
    body
        div.wrapp#main
            header
            div.content
                p.text__test I working via pug
            footer#footer
                img(src='#')











